* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/image/gameover.jpg');
    background-color: #f0f0f0;        
    color: #333;
    line-height: 1.6;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-size: cover; /* Ajuster la taille de l'image pour couvrir tout le fond */
    background-repeat: no-repeat; /* Empêcher la répétition de l'image */
    background-position: center center; /* Positionner l'image au centre */
    background-attachment: fixed; /* Fixer l'image pour qu'elle reste en arrière-plan même en faisant défiler la page */
}


header, main, footer {
    width: 80%;
    margin: 0 auto;
    text-align: center;  


}

header {  
    background-color: #d17c7c79;
    border-radius: 15px;
    color: #fff;    
    padding: 40px 0;

}
h1{
    font-size: 35px;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: #af4c4c 1px 3px 2px;
    color:black;
    }
    h2 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 29px;
        margin-bottom: 25px;
        text-shadow: #af4c4c 1px 3px 2px;
        color: #000000;
        border-radius: 10px;
        }
        h3{
            font-size: 19px;
            margin-bottom: 20px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-shadow:beige 1px 2px 3px; ;
            color:#a42214;
        }
        p{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin-bottom: 10px;
            font-size: 20px;
        }
main {
    padding: 50px 0;
}

footer {
    width: 100%;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}
p{
    color: #000000;
}
.description{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #4caf4fb7;
    border-radius: 15px;
    color: #fff;    
    margin-bottom: 40px;
    padding: 20px;
}

.start-game {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #e6e6e679;
    border-radius: 15px;
    color: #fff;    
    margin-bottom: 40px;
    padding: 20px;
}

.start-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #0070d7;
    color: gold;
}
.espace{
    height: 500px !important;
}
.choix {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



