@font-face {
    font-family: 'Triforce';
    src: url('/fonts/Triforce.ttf') format('truetype');
  }
* {
    font-family: 'Triforce';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/image/plaine.jpg');
    background-color: #f0f0f0;        
    color: #333;
    line-height: 1.6;
    padding: 20px;
    background-size: cover; /* Ajuster la taille de l'image pour couvrir tout le fond */
    background-repeat: no-repeat; /* Empêcher la répétition de l'image */
    background-position: center center; /* Positionner l'image au centre */
    background-attachment: fixed; /* Fixer l'image pour qu'elle reste en arrière-plan même en faisant défiler la page */
}


header, main, footer {
    width: 80%;
    margin: 0 auto;
    text-align: center;  


}

header {  
    background-color: #7ca8d179;
    border-radius: 15px;
    color: #fff;    
    padding: 40px 0;

}
h1{
    font-size: 35px;
    margin-bottom: 20px;
    text-shadow: #4CAF50 1px 3px 2px;
    color:black;
    }
    h2 {
        font-size: 29px;
        margin-bottom: 25px;
        text-shadow: #cecece 2px 3px 3px;
        color: #000000;
        border-radius: 10px;
        }
        h3{
            font-size: 19px;
            text-shadow:beige 1px 2px 3px; ;
            color:#a42214;
        }
        p{
            margin-bottom: 10px;
            font-size: 20px;
        }
main {
    padding: 50px 0;
}

footer {
    width: 100%;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}
p{
    color: #000000;
}
.description{
    background-color: #4caf4fb7;
    border-radius: 15px;
    color: #fff;    
    margin-bottom: 40px;
    padding: 20px;
}

.start-game {
    background-color: #e6e6e679;
    border-radius: 15px;
    color: #fff;    
    margin-bottom: 40px;
    padding: 20px;
}

.start-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #0070d7;
    color: gold;
}
.regle {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
