@font-face {
    font-family: 'Triforce';
    src: url('//fonts/Triforce.ttf') format('truetype');
  }
  @font-face {
    font-family: 'ReggaeOne';
    src: url('//fonts/ReggaeOne-Regular.ttf') format('truetype');
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Triforce' , sans-serif;
}
body 
{   
    background-image: url('/image/mojo.jpeg');
    background-position: top top; /* Positionner l'image au centre */
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    background-size: cover; /* Ajuster la taille de l'image pour couvrir tout le fond */
    background-repeat: no-repeat; /* Empêcher la répétition de l'image */
    background-attachment: fixed; /* Fixer l'image pour qu'elle reste en arrière-plan même en faisant défiler la page */
 }
label{
    font-size: 30px;
}
p{
    font-family: 'ReggaeOne', sans-serif;
    font-size: 19px;
    margin-bottom: 20px;
    text-shadow:#119bdc 2px 1px 2px; 
    color:rgb(0, 0, 0);

}
h1{
    font-size: 5vh;
    color: #000000;
}
h1:hover {
text-shadow: #0070d7;
transition: background-color 0.3s ease;
}
h2 {
    font-size: 40px;
    margin-bottom: 25px;
    text-shadow: #119bdc 2px 3px 3px;
    color: #000000;
    border-radius: 10px;
    }
h3 {
    font-size: 30px;
    margin-bottom: 20px;
    text-shadow: #4CAF50 1px 3px 2px;
    color:black;
}
h4{
        font-size: 50px;
        margin-bottom: 20px;
        text-shadow: #4CAF50 1px 3px 2px;
        color:black;
}
h5{
    font-size: 50px;
    margin-bottom: 20px;
    text-shadow: #a42214 1px 3px 2px;
    color:black;
}
h6{
    font-size: 15px;
    margin-bottom: 20px;
    text-shadow:beige 1px 2px 3px; ;
    color:#a42214;
}
.coeur {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
}
.choix {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.classe-image {
    margin-left: 5px;
    width: 40px; /* Largeur souhaitée pour chaque image */
    height: 40px; /* Hauteur souhaitée pour chaque image */
}

.espace{
    height: 500px !important;
}

.question {
    margin-bottom: 10px;
    font-size: 20px;
}

.start-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
}

.start-button:hover {
    background-color: #0070d7;
    color: gold;
}
.confirm input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #4CAF50;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
}

.confirm input[type="submit"]:hover {
    background-color: #0070d7;
    color: gold;
}

.suite {
    display: flex;
    justify-content: flex-start;
    
}

.suite input[type="submit"] {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.suite input[type="submit"]:hover {
    background-color: #0070d7;
    color: gold;
}

.recommencer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    
}

.recommencer input[type="submit"] {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

.recommencer input[type="submit"]:hover {
    background-color: #412a2a;
    color: gold;
}

.qcm {  
    margin-top: 20px;
    font-size: larger;
    text-shadow: #ffffff 1px 1px 2px;
    color: rgb(0, 0, 0);
    background-color: #ffffff57;
    backdrop-filter: blur(4px); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.image_excat{
    min-height: 200px;
    min-width: 200px;
    display: flex;  
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 200px;    
    background-image: url(/image/link_yes.gif);
}
.image_recherche{
    min-height: 200px;
    min-width: 200px;
    display: flex;  
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: 300px;    
    background-image: url(/image/boussole.png);
}
.image_skulltula{
    min-height: 200px;
    min-width: 200px;
    display: flex;  
    background-repeat: no-repeat;
    background-size: 260px;   
    background-position: center; 
    background-image: url(/image/skulltula.png);
}
.image_peur{
    min-height: 200px;
    min-width: 200px;
    display: flex;  
    background-repeat: no-repeat;
    background-size: 200px;   
    background-position: center center; 
    background-image: url(/image/link_peur.png);
}
.image_music{
    min-height: 200px;
    min-width: 200px;
    display: flex;  
    background-repeat: no-repeat;
    background-size: 100px;   
    background-position: center center; 
    background-image: url(/image/link_music.png);
}
.image_rush{
    min-height: 200px;
    min-width: 200px;
    display: flex;  
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center center; 
    background-image: url(/image/run.gif);
}
.image_partir{
    min-height: 200px;
    min-width: 200px;
    display: flex;  
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: center center; 
    background-image: url(/image/blc.png);
}
.image_chute{
    min-height: 200px;
    min-width: 200px;
    display: flex;  
    background-repeat: no-repeat;
    background-size: 200px;   
    background-position: center center; 
    background-image: url(/image/link_kid_chute.png);
}
.text{
    margin-left: 20px;
    padding: 30px 20px 30px 20px;
    width: 70%;
    height: 70%;
}
.qcm-erreur {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.qcm-exact {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* Masquer les boutons radio par défaut */
.question input[type="radio"] {
    position: absolute;
    opacity: 1;
    width: 0;
    height: 0;
}

/* Style personnalisé pour les étiquettes des boutons radio */
.question input[type="radio"] + label {
    display: inline-block;
    padding: 4px 8px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 1s ease;
    border: 1.5px solid ;
}

/* Style lorsque le bouton radio est coché */
.question input[type="radio"]:checked + label {
    background: linear-gradient(to bottom, #000000c0, #ffffffc0);
    color: #fff;
    text-shadow: 0 2px 5px #000000;
    border-color: #83838397; /* Ajustement de la couleur de la bordure */
}

/* Dégradé pour le survol */
.question input[type="radio"] + label:hover {
    background: linear-gradient(to left, #ffffffc0, #000000c0);
    transition: all 0.5s ease; /* Réduction de la durée de transition */
}

/* Animation au survol */
.question input[type="radio"] + label {
    transform: scale(1);
    transition: transform 1s ease; /* Limiter la transition à la transformation */
}

/* Animation pour agrandir légèrement les boutons au survol */
.question input[type="radio"]:hover + label {
    transform: scale(1.05);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #333;
}

/* Changement de couleur du texte au survol */
.question input[type="radio"] + label:hover {
    color: #fff;
    text-shadow:  1.5px 2px rgb(0, 0, 0);
    transition: all 2s ease; 
}
.block{
    display: flex;
}