
@font-face {
    font-family: 'Triforce';
    src: url('//fonts/Triforce.ttf') format('truetype');
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Triforce';
}
body {   
    background-image: url('/image/zeldadebut.jpg');
    background-position: center center; /* Positionner l'image au centre */
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    background-size: cover; /* Ajuster la taille de l'image pour couvrir tout le fond */
    background-repeat: no-repeat; /* Empêcher la répétition de l'image */
    background-attachment: fixed; /* Fixer l'image pour qu'elle reste en arrière-plan même en faisant défiler la page */
}
label{
    font-size: 25px;
}
p{
    font-size: 19px;
    margin-bottom: 20px;
    text-shadow:beige 1px 2px 3px; ;
    color:#ada80e;

}
h2 {
    font-size: 40px;
    margin-bottom: 25px;
    text-shadow: #119bdc 2px 3px 3px;
    color: #000000;
    border-radius: 10px;
    }
h3 {
    font-size: 30px;
    margin-bottom: 20px;
    text-shadow: #4CAF50 1px 3px 2px;
    color:black;
}
h4{
        font-size: 50px;
        margin-bottom: 20px;
        text-shadow: #4CAF50 1px 3px 2px;
        color:black;
}
h5{
    font-size: 50px;
    margin-bottom: 20px;
    text-shadow: #a42214 1px 3px 2px;
    color:black;
}
h6{
    font-size: 15px;
    margin-bottom: 20px;
    text-shadow:beige 1px 2px 3px; ;
    color:#a42214;
}
.coeur {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
}

.classe-image {
    margin-left: 5px;
    width: 40px; /* Largeur souhaitée pour chaque image */
    height: 40px; /* Hauteur souhaitée pour chaque image */
}

.espace{
    height: 500px !important;
}

.question {
    margin-bottom: 10px;
    font-size: 20px;
}

.confirm input[type="submit"] {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
}

.confirm input[type="submit"]:hover {
    background-color: #0070d7;
    color: gold;
}

.suite {
    display: flex;
    justify-content: flex-start;
}

.suite input[type="submit"] {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.suite input[type="submit"]:hover {
    background-color: #0070d7;
    color: gold;
}

.recommencer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.recommencer input[type="submit"] {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.recommencer input[type="submit"]:hover {
    background-color: #412a2a;
    color: gold;
}

.qcm {
    margin-top: 20px;
    font-size: larger;
    text-shadow: #ffffff 1px 1px 2px;
    color: rgb(0, 0, 0);
    background-color: #ffffff57;
    backdrop-filter: blur(4px); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.qcm-double {
    display: flex;
    background-repeat: no-repeat;
    background-size: 200px;
    background-image: url(/image/erreur.png);
    margin-top: 20px;
    text-shadow: #ffffff 1px 1px 2px;
    color: rgb(0, 0, 0);
    backdrop-filter: blur(4px);
    padding-left: 200px;
    padding: 30px 50px 25px 25%;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    flex-direction: row;
}

.question input[type="radio"] {
    margin-right: 10px;
}


